name: Build and Deploy Flutter Web to Vercel Repo

on:
  push:
    branches:
      - master
    paths:
      - 'lib/**'
      - 'web/**'
      - '.github/workflows/**'
      - 'pubspec.yaml'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Flutter Setup
        uses: subosito/flutter-action@v2.13.0
        with:
          channel: 'stable'
          flutter-version: 3.22.2
          cache: true

      - name: Enable Web
        run: flutter config --enable-web

      - name: Get Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web --web-renderer canvaskit --release

      - name: Create Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-web-build
          path: build/web/
          retention-days: 1

  deploy:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Git Setup
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          git config --global user.email yashashm.dev@gmail.com
          git config --global user.name yashas-hm
          git clone https://$ACCESS_TOKEN@github.com/yashas-hm/vercel-portfolio-website.git
          cp -rf vercel-portfolio-website/. .
          rm -r vercel-portfolio-website/
          git remote remove origin
          git remote add origin https://$ACCESS_TOKEN@github.com/yashas-hm/vercel-portfolio-website.git
          cd ..

      - name: Get Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: flutter-web-build
          path: build/

      - name: Push to Server Branch
        run: |
          cp -rf build/. .
          rm -r build/
          git add .
          git commit -m "Workflow Deploy"
          git push --set-upstream origin main